.Table .Surface {
    background:linear-gradient(#AAAA,#AAAA), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQoU2NkIA78ZyROHcOoQrwBBQ6e/8SEJQBmbwoBlDNtsgAAAABJRU5ErkJggg==) repeat;
    width:1000px;
    height:1000px;
    overflow:hidden;
}

.Table {
    width:100vw;
    height:100vh;
    overflow:hidden;
    background:#222;
}

#debug {
    user-select:none;
    color:#FFF;
    background:#000F;
    position:absolute;
    left:50vw;
    transform:translate(-50%,0)
}